// CSS Reset
@import "reset.less";

// Core
@import "preboot.less";

// VARIABLES
// ---------

// Layout sizes
@headerHeight:      50px;
@subheaderHeight:   40px;
@subheaderBkColor:  #333;
@sidebarWidth:      230px;
@viewbarHeight:     25px;
@actionbarHeight:   35px;
@bottombarHeight:   25px;

body {
    background-color: #ccc;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
}

div.header {
    background: #000;
    color: #fff;
    width: 100%;
    height: @headerHeight;
    
}

div.sidebar {
    background: #DDD;
    position: absolute;
    top: @headerHeight;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: @sidebarWidth;
    overflow: hidden;
    .box-shadow(inset -3px 0 6px -2px #888);
    div.tabsbar {
        position: relative;
        background: @subheaderBkColor;
        height: @subheaderHeight;

        ul.tabs {
          li {
            a {
              margin: 0 1px 0 2px;
              background-color: #aaa;
              color: #333;
              &:hover {
                background-color: #bbb;
              }
            }
            &.active a {
              background-color: #ddd;
              color: #333;
             }
          }
        }
    }

}

div.main {
    background: #fff;
    overflow: auto;
    position: absolute;
    top: @headerHeight;
    bottom: 0;
    right: 0;
    width: auto;
    left: @sidebarWidth;
    
    div.tabsbar {
        position: relative;
        background: @subheaderBkColor;
        height: @subheaderHeight;
    }
    
    div.viewbar {
        background: #eee;
        height: @viewbarHeight;
    }
    
    div.actionbar {
        background: #f6f6f6;
        height: @actionbarHeight;
    }

    div.content {
        overflow: auto;
        position: absolute;
        top: @subheaderHeight + @actionbarHeight + @viewbarHeight;
        left: 0;
        bottom: @bottombarHeight;
        right: 0;
        width: auto;
    }
    
    div.bottombar {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: #f6f6f6;
        height: @bottombarHeight;
    }
}

ul.tabs {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  li {
    display: inline;
    a {
      display: inline;
      margin: 0 3px 0 0;
      padding: 0 15px;
      line-height: 26px;
      .border-radius(4px 4px 0 0);
      background-color: #b4b4b4;
      text-decoration: none;
      color: #333;
      float: left;
      width: auto;
      // border-bottom: 2px solid green;
      &:hover {
        background-color: #ccc;
      }
    }
    &.active a {
      background-color: #ebebeb;
      padding: 0 14px;
      border-bottom: 0;
      color: #333;
      // border-bottom: 2px solid red;
    }
  }
}

ul.select-pane {
    padding-top: 18px;
    li {
        
        a {
            display: block;
            color: #666;
            line-height: 18px;
            padding-left: 10px;
            padding-right: 10px;
            text-decoration: none;
            &:hover {
                background-color: #666;
                color: #fff;
            }
        }

    }
}


