<html>

<head>
    <title>Editor prototype</title>
    
    <script type="text/javascript" src="js/util.js" ></script>
    <script type="text/javascript" src="js/EventEmitter.js" ></script>
<style>

body {
    background-color: #ddd;
    font-family: 'Helvetica Neue', 'Lucida Grande', 'Helvetica Neue', Arial, sans-serif;
    font-size: 12px;
    margin: 0;
    border: 0;
}

.clear {
    clear: both;
}

.control {
    position: relative;     /* Para handles */
    float: left;
	width: 50%;		/* Defecto */
	padding: 0;
	border: 0;
	margin: 0;
	margin-top: 1px;
	*margin-left:-0.05em;
}

.control > div {		/* No compatible IE6 */
	width: auto;
	margin-right: 10px;
}

.control > div > .box,  .control > div > .multiBox {
    width: 100%;
}

.box {
	border: 1px solid #ddd;
	background: #fff;
	padding-bottom: 4px;
	padding-left: 5px;
	padding-right: 0;
	padding-top: 5px;
	margin: 0;
	margin-bottom: 5px;
}

.box:hover {
    border: 1px solid #c8c8c8;    
    background: #f8f8f8;
}

.control.selected > div > .box {
    border: 1px solid #c9e0ed;
    background: #ebf3f8;
}

.control .resize-handle-x, .control .resize-handle-y {
    display: none;
}

.control.selected > div > .resize-handle-x {
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -8px;
    right: -2px;
    width: 12px;
    height: 12px;
    background: url(img/resize-handle.png) no-repeat top left;
    cursor: ew-resize;
    z-index: 100;
}

.control.selected > div > .resize-handle-y {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    bottom: -2px;
    width: 12px;
    height: 12px;
    background: url(img/resize-handle.png) no-repeat top left;
    cursor: ns-resize;
    z-index: 100;
}

.multiBox {
    border: 1px dashed navy;
}

.control.selected > div > .multiBox {
    border: 1px dashed #c9e0ed;
    background: #ebf3f8;
}

.new-line {
    clear: both;
    background-color: red;
    height: 2px;
    width: 2px;
    line-height: 2px;
}

.canvas {

}

.multi-select {
    position: absolute;
    background-color: hsla(0, 100%, 0%, 0.2);
    border: 1px solid #fff;
}

.dimension-x {
    position: absolute;
    text-align: center;
    background: url(img/dimension-background.png) repeat-x left center;
    font-size: 10px;
    height: 9px;
    border: 0;
    border-left: 1px solid red;
    border-right: 1px solid red;

}

.dimension-x span {
    position: relative;
    top: -2px;
    color: red;
    background-color: #ebf3f8;
    padding-left: 2px; padding-right: 2px;
}

.dimension-y {
    position: absolute;
    text-align: center;
    background: url(img/dimension-background.png) repeat-y center top;
    font-size: 10px;
    width: 9px;
    border: 0;
    border-top: 1px solid red;
    border-bottom: 1px solid red;

}

.dimension-y span {
    position: absolute;
    width: 40px;
    margin-left: -20px;
    top: 50%;
    margin-top: -7px;
    color: red;
    background-color: #ebf3f8;
}

.drop-caret {
    position: absolute;
    background-color: #555;
    width: 0;
    height: 0;
}

</style>

<script>

// Simple JavaScript Templating
// John Resig - http://ejohn.org/ - MIT Licensed
(function(){
  var cache = {};
  
  this.tmpl = function tmpl(str, data){
    // Figure out if we're getting a template, or if we need to
    // load the template - and be sure to cache the result.
    var fn = !/\W/.test(str) ?
      cache[str] = cache[str] ||
        tmpl(document.getElementById(str).innerHTML) :
      
      // Generate a reusable function that will serve as a template
      // generator (and which will be cached).
      new Function("obj",
        "var p=[],print=function(){p.push.apply(p,arguments);};" +
        
        // Introduce the data as local variables using with(){}
        "with(obj){p.push('" +
        
        // Convert the template into pure JavaScript
        // Single-quote issue fix from http://www.west-wind.com/weblog/posts/2008/Oct/13/Client-Templating-with-jQuery
        str.replace(/[\r\t\n]/g, " ")
               .replace(/'(?=[^%]*%>)/g, "\t")
               .split("'").join("\\'")
               .split("\t").join("'")
               .replace(/<%=(.+?)%>/g, "',$1,'")
               .split("<%").join("');")
               .split("%>").join("p.push('")
               
      + "');}return p.join('');");
      
    // Provide some basic currying to the user
    return data ? fn( data ) : fn;
  };
})();

// Box for editor mockup
//
var Box = function(options) {
    EventEmitter.call(this);
    this.options_ = options || {}; 
    this.parent_ = null;                                     // Parent (none by default
    this.id_ = null;
    
};
inherits(Box, EventEmitter);
Box.prototype.isBox = true;

Box.prototype.getParent = function() {
  return this.parent_;
};

Box.prototype.setParent = function(parent) {
  this.parent_ = parent;
};

Box.idCounter = 1;
Box.prototype.getId = function() {
    if (!this.id_) {
        this.id_ = "id#" + Box.idCounter++;
    }
    return this.id_;
};

Box.prototype.getOptions = function() {
    return this.options_;
};

Box.prototype.setOptions = function(options) {
  this.options_ = options;
};

Box.prototype.setOption = function(optionName, optionValue, paint) {
  this.options_[optionName] = optionValue;
  if (paint) {
      this.paint();
  }
};

Box.prototype.getOption = function(optionName) {
    return this.options_[optionName];
};

Box.prototype.getElement = function() {
    return document.getElementById(this.id_);
};

Box.prototype.paint = function() {
    // Render HTML
    var html = this.render();
    // Inject HTML
    var element = this.getElement();
    element.innerHTML = html;
};

Box.prototype.frameTemplate = tmpl(
    "<div class='control' style='width:<%= getOption(\"width\") %>;'><div>" +
        "<%= internalRender(obj) %>" + 
        "<div class='resize-handle-x'></div><div class='resize-handle-y'></div>" +
    "</div></div>"
);

Box.prototype.render = function() {
    return this.frameTemplate(this);
};

Box.prototype.template = tmpl(
    "<div id='<%= getId() %>' class='box' style='height:<%= getOption(\"height\") %>;'>" +
    "</div>"
);

Box.prototype.internalRender = function() {
    return this.template(this);
};

Box.prototype.selectUnselect = function(select) {
    var elem = this.getElement();
    if (elem) {
        var control = elem.parentNode.parentNode;
        var hasTheClass = hasClass(control, "selected");
        if (select && !hasTheClass) {
            addClass(control, "selected");
        }
        else if (!select && hasTheClass) {
            removeClass(control, "selected");
        }
    }
};

// TODO: rename (init, initUI, ...)
//
Box.prototype.postRender = function() {
    var elem = this.getElement();
    var control = elem.parentNode.parentNode;
    var this_ = this;
    /*control.onclick = function(e) {
        canvas.unselectAll();
        this_.selectUnselect(true);
        e.stopPropagation();
        return false;
    };*/
    elem.isBox = true;  // kludge!!!
    var rxs = getElementsByClassName(control, "resize-handle-x");
    var rx = rxs[rxs.length-1];
    rx.onmousedown = function(e) {
        var e = e || window.event;
        var initialX = e.clientX;
        var initialWidth =  control.clientWidth;
        var dimensionX = getElementsByClassName(document, "dimension-x")[0];
        dimensionX.style.display = "";
        dimensionX.style.left = getOffset(control).left;
        dimensionX.style.top = getOffset(control).top + 5;
        dimensionX.style.width = elem.clientWidth;
        // console.log(e);
        document.onmousemove = function(e) {
            var event = e || window.event;
            control.style.width = initialWidth + (e.clientX - initialX) + "px";
            dimensionX.style.left = getOffset(control).left;
            dimensionX.style.top = getOffset(control).top + 5;   
            dimensionX.style.width = elem.clientWidth;
            dimensionX.innerHTML = "<span>" + control.style.width  + "</span>";
            console.log(e);
        }
        document.onmouseup = function(e) {
            console.log(e);
            var event = e || window.event;
            document.onmousemoveup = null;
            document.onmousemove = null;
            dimensionX.style.display = "none";
            event.stopPropagation();
        }
        e.stopPropagation();
        return false;
    }
    var ryx = getElementsByClassName(control, "resize-handle-y");
    var ry = ryx[ryx.length-1];
    ry.onmousedown = function(e) {
        var e = e || window.event;
        var dragging = true;
        var initialY = e.clientY;
        var initialHeight =  elem.clientHeight;
        var dimensionY = getElementsByClassName(document, "dimension-y")[0];
        dimensionY.style.display = "";
        dimensionY.style.left = getOffset(control).left + 5;
        dimensionY.style.top = getOffset(control).top;
        dimensionY.style.height = elem.clientHeight;
        document.onmousemove = function(e) {
            var event = e || window.event;
            elem.style.height = initialHeight + (e.clientY - initialY) + "px";
            dimensionY.style.height = elem.clientHeight;
            dimensionY.innerHTML = "<span>" + elem.style.height + "</span>";
        }
        document.onmouseup = function(e) {
            console.log(e);
            var event = e || window.event;
            document.onmouseup = null;
            document.onmousemove = null;
            dimensionY.style.display = "none";
            event.stopPropagation();
        }
        e.stopPropagation();
        return false;
    }
};

Box.prototype.getLimits = function() {
    var elem = this.getElement();
    var offset = getOffset(elem);
    return { 
        x1: offset.left, 
        y1: offset.top, 
        x2: offset.left + (elem ? elem.clientWidth : 0), 
        y2: offset.top + (elem ? elem.clientHeight : 0)
    };
};

Box.prototype.determineDropPosition = function(x, y) {
    var dropPosition = { target: this };
    
    var limits = this.getLimits();
    var distX1 = Math.abs(x - limits.x1), distX2 = Math.abs(x - limits.x2), distX = Math.min(distX1, distX2);
    var distY1 = Math.abs(y - limits.y1), distY2 = Math.abs(y - limits.y2), distY = Math.min(distY1, distY2);
    if (distX < distY) { 
        if (distX1 < distX2) dropPosition.left = limits.x1;
        else dropPosition.right = limits.x2;
    }
    else { 
        if (distY1 < distY2) dropPosition.top = limits.y1;
        else dropPosition.bottom = limits.y2;
    }
    
    return dropPosition;
};

// MultiBox - Box composed from multiple boxes
//
var MultiBox = function(options, children) {
  this.children_ = children || []; 
  Box.call(this, options);
  var this_ = this;
  this.forEachChild(function(childName, child) {
      child.setParent(this_);
  });
};
inherits(MultiBox, Box);
MultiBox.prototype.isMultiBox = true;

MultiBox.prototype.getChildren = function() {
  return this.children_;
};

MultiBox.prototype.forEachChild = function(callback) {
    var children = this.getChildren();
    for (var i = 0; i < children.length; i++) {
        var child = children[i];
        callback(/*child.getName()*/child.getId(), child);
    }
};

MultiBox.prototype.forEachDescendant = function(callback) {
    this.forEachChild(function(childName, child) {
        if (callback) callback(childName, child);
        if (child.isMultiBox) {
            child.forEachDescendant(callback);
        }
    });
};

MultiBox.prototype.internalRender = function() {
    var html = "<div id='" + this.getId() + "' class='multiBox'>";
    this.forEachChild(function(childName, child) {
        html += child.render();
    });
    html += "<div class='clear'></div>";
    html += "</div>";
    return html;
};

MultiBox.prototype.postRender = function() {
    Box.prototype.postRender.call(this);
    this.forEachChild(function(childName, child) {
        child.postRender();
    });
};

MultiBox.prototype.descendantFromId = function(id) {
    var descendant = null;
    this.forEachDescendant(function(childName, child) {
        if (child.getId() === id) {
            descendant = child;
        }
    });
    return descendant;
};

MultiBox.prototype.indexOfChild = function(child) {
    for (var i = 0; i < this.getChildren().length; i++) {
        if (this.getChildren()[i] == child) return i;
    }
};

MultiBox.prototype.nextSibling = function(child) {
    var index = this.indexOfChild(child);
    return (index+1 == this.getChildren().length ? null : this.getChildren()[index+1]);
};

MultiBox.prototype.previousSibling = function(child) {
    var index = this.indexOfChild(child);
    return (index-1 < 0 ? null : this.getChildren()[index-1]);
};

MultiBox.prototype.removeChild = function(child) {
    var index = this.indexOfChild(child);
    
    console.log("Before:", index);
    for (var i = 0; i < this.getChildren().length; i++) {
        console.log(this.getChildren()[i].getId());
    }
    
    // Remove from children
    this.getChildren().splice(index, 1);
    child.setParent(null);
    
    console.log("After:");
    for (var i = 0; i < this.getChildren().length; i++) {
        console.log(this.getChildren()[i].getId());
    }
    
    // Remove from DOM
    var control = child.getElement().parentNode.parentNode;     // TODO: support not-framed controls
    control.parentNode.removeChild(control);
};

MultiBox.prototype.insert = function(newChild, referenceChild, after) {
    
    var newControl;
    if (!newChild.getParent()) {    // Does not have parent, assume not rendered yet
        console.log(newChild.render());
        var dummyDiv = document.createElement("div");
        dummyDiv.innerHTML = newChild.render();
        newControl = dummyDiv.firstChild;
        // TODO: must destroy dummyDiv ??
        // newControl = document.createElement(newChild.render());
    }
    else {
        newControl = newChild.getElement().parentNode.parentNode;               // TODO: support not-framed controls
        // Remove from last parent
        newChild.getParent().removeChild(newChild);
    }

    // Attach to new parent
    //
    // Insert into children
    var index = this.indexOfChild(referenceChild);
    this.getChildren().splice(after ? index+1 : index, 0, newChild);
    newChild.setParent(this);
    
    // Insert into DOM
    // TODO: support not-framed controls
    var referenceControl;
    if (referenceChild.isNewLine) {
        referenceControl = referenceChild.getElement();
    }
    else {
        referenceControl = referenceChild.getElement().parentNode.parentNode;
    }
    if (after) {
        // If next sibling doesn't exist, it would still work, because the referenceNode.nextSibling will return “null”, 
        // and js will just append to last child of parent node.
        referenceControl.parentNode.insertBefore(newControl, referenceControl.nextSibling);
    }
    else {
        referenceControl.parentNode.insertBefore(newControl, referenceControl);
    }
    
    return newChild;        // Return newly inserted element
    
};

// TODO: better algorithm?
//
MultiBox.prototype.descendantFromElement = function(elem) {
    while (elem) {
        if (elem.isBox) {
            return this.descendantFromId(elem.id);
        }
        elem = elem.parentNode;
    }
    return null;
};

// NewLine

var NewLine = function(options) {
  Box.call(this, options);
};
inherits(NewLine, Box);
NewLine.prototype.isNewLine = true;

NewLine.prototype.render = function() {
    return "<br id='" + this.getId() + "' class='new-line' />"; // Not in frame
};

NewLine.prototype.postRender = function() {};

// Canvas - The whole stuff
//
var Canvas = function(options, children) {
  MultiBox.call(this, options, children);
  this.selected_ = [];
};
inherits(Canvas, MultiBox);

Canvas.prototype.render = function() {
    var html = "<div id='" + this.getId() + "' style='width:" + this.getOption("width") + ";height:" + this.getOption("height") + ";' class='canvas'>";
    this.forEachChild(function(childName, child) {
        html += child.render();
    });
    html += "<div class='clear'></div>";
    html += "<div class='multi-select'></div>";
    html += "<div class='dimension-x'></div>";
    html += "<div class='dimension-y'></div>";
    html += "<div class='drop-caret'></div>";
    html += "</div>";
    return html;
};

Canvas.prototype.unselectAll = function() {
    this.forEachDescendant(function(childName, child) {
        child.selectUnselect(false);
    });
};

Canvas.prototype.postRender = function() {
    
    var elem = this.getElement();
    var multiSelect = getElementsByClassName(elem, "multi-select")[0];
    var this_ = this;
    /*
    elem.onmousemove = function(e) {
        var event = e || window.event;
        var target = event.target || event.srcElement;
        var descendant = this_.descendantFromElement(target);
        if (descendant) {
            this_.renderDropCaret(descendant, e.clientX, e.clientY);
        }
    }
    */
    elem.onmousedown = function(e) {
        
        var e = e || window.event;
        var initialX = e.clientX;
        var initialY = e.clientY;
        
        var selected = this_.selectedFromRectangle(initialX, initialY, initialX, initialY);
        var uniqueSelected = (selected.length > 0 ? selected[0] : null);
        for (var i = 0; i < this_.selected_.length; i++) {
            if (uniqueSelected == this_.selected_[i]) break;
        }
        if (i < this_.selected_.length) {   // Move mode
        
           var dropPosition = null;
           
           document.onmousemove = function(e) {
                var event = e || window.event;
                var target = event.target || event.srcElement;
                var descendant = this_.descendantFromElement(target);
                if (descendant) {
                    dropPosition = this_.renderDropCaret(descendant, e.clientX, e.clientY);
                }
            }
            document.onmouseup = function(e) {
                var event = e || window.event;
                document.onmouseup = null;
                document.onmousemove = null;
                
                var dropCaret = getElementsByClassName(this_.getElement(), "drop-caret")[0];
                dropCaret.style.display = "none";
                
                // Do the move
                if (dropPosition) {
                    var target = dropPosition.target;
                    if (target != uniqueSelected) {
                        
                        var targetParent = target.getParent();
                        if (dropPosition.top) {
                            var previousSibling = targetParent.previousSibling(target);
                            while (previousSibling && !previousSibling.isNewLine) {
                                target = previousSibling;
                                previousSibling = targetParent.previousSibling(target);
                            }
                            if (!previousSibling) {
                                target = targetParent.insert(new NewLine(), target, false);
                            }
                            else {
                                target = previousSibling;
                            }
                        }
                        else if (dropPosition.bottom) {
                            var nextSibling = targetParent.nextSibling(target);
                            while (nextSibling && !nextSibling.isNewLine) {
                                target = nextSibling;
                                nextSibling = targetParent.nextSibling(target);
                            }
                            if (!nextSibling) {
                                target = targetParent.insert(new NewLine(), target, true);
                            }
                            else {
                                target = nextSibling;
                            }
                        }
    
                        // uniqueSelected.getParent().removeChild(uniqueSelected);
                        targetParent.insert(uniqueSelected, target, dropPosition.right || dropPosition.bottom);
                    }
                }
            }
        }
        else {  // Selection mode
        
            multiSelect.style.left = initialX + "px";
            multiSelect.style.top = initialY + "px";
            multiSelect.style.width = "1px";
            multiSelect.style.height = "1px";
            multiSelect.style.display = "";
    
            document.onmousemove = function(e) {
                var event = e || window.event;
                // console.log(e);
                multiSelect.style.left = (e.clientX > initialX ? initialX : e.clientX) + "px";
                multiSelect.style.width = Math.abs(e.clientX - initialX) + "px";
                multiSelect.style.top = (e.clientY > initialY ? initialY : e.clientY) + "px";
                multiSelect.style.height = Math.abs(e.clientY - initialY) + "px";
            }
            document.onmouseup = function(e) {
                var event = e || window.event;
                document.onmouseup = null;
                document.onmousemove = null;
                multiSelect.style.display = "none";
                var finalX = (e.clientX > initialX ? e.clientX : initialX);
                initialX = (e.clientX > initialX ? initialX : e.clientX)
                var finalY = (e.clientY > initialY ? e.clientY : initialY);
                initialY = (e.clientY > initialY ? initialY : e.clientY)
                
                this_.selected_ = this_.selectedFromRectangle(initialX, initialY, finalX, finalY);
                
                // Unselect all
                this_.forEachDescendant(function(childName, child) {
                   child.selectUnselect(false);
                 });
                
                // Select
                for (i = 0; i < this_.selected_.length; i++) {
                    this_.selected_[i].selectUnselect(true);
                }
    
                event.stopPropagation();
            }
        }
        
        e.stopPropagation();
        return false;
    };
    
    this.forEachChild(function(childName, child) {
        child.postRender();
    });
};

Canvas.prototype.renderDropCaret = function(descendant, x, y) {
    var dropCaret = getElementsByClassName(this.getElement(), "drop-caret")[0];
    dropCaret.style.display = "";
    console.log(dropCaret);
    
    var dropPosition = descendant.determineDropPosition(x, y);
    var limits = descendant.getLimits();
    console.log(dropPosition, limits);
    if (dropPosition.left || dropPosition.right) {
        dropCaret.style.left = (dropPosition.left || dropPosition.right) + "px";
        dropCaret.style.top = limits.y1 + "px";
        dropCaret.style.height = limits.y2 - limits.y1 + "px";
        dropCaret.style.width = "4px";
        console.log(dropCaret.left, dropCaret.top, dropCaret.height, dropCaret.width);
    }
    else {
        var maxY2 = limits.y2;
        var parent = descendant.getParent();
        var newLineFound = false;
        if (parent && (dropPosition.top || dropPosition.bottom)) {
            parent.forEachChild(function(childName, child) {
                if (child.isNewLine) newLineFound = true;
                var y2 = child.getLimits().y2;
                if (y2 > maxY2 && !newLineFound) maxY2 = y2;
            });
            var limits = parent.getLimits();
        }
        dropCaret.style.top = (dropPosition.top ? limits.y1 : maxY2) + "px";
        dropCaret.style.left = limits.x1 + "px";
        dropCaret.style.width = limits.x2 - limits.x1 + "px";
        dropCaret.style.height = "4px";
    } 
    return dropPosition;
};

// TODO: support more modes apart from "intersect"
// 
Canvas.prototype.selectedFromRectangle = function(initialX, initialY, finalX, finalY) {
    var selected = [];
    
    this.forEachDescendant(function(childName, child) {
        var childElem = child.getElement();
        if (childElem) {
            var childInitialX = getOffset(childElem).left;
            var childFinalX = childInitialX + childElem.clientWidth -1;
            var childInitialY = getOffset(childElem).top;
            var childFinalY = childInitialY + childElem.clientHeight -1;
            var intersects = !(childFinalX < initialX || finalX < childInitialX) &&
                             !(childFinalY < initialY || finalY < childInitialY);
            if (intersects) {
                selected.push(child);
            }
        }
    });
    
    // Cut off parents
    var onlyLeafs = [];
    for (var i = 0; i < selected.length; i++) {
        for (var j = 0; j < selected.length; j++) {
            if (selected[j].getParent() == selected[i]) break;
        }
        if (j == selected.length) onlyLeafs.push(selected[i]);
    }

    return onlyLeafs;
};

</script>

</head>
<body>
    <div id="canvas"></div>

</body>
<script>

var multiBox = new MultiBox({ width: "50%" }, [ 
    new Box({ width: "40%", height: "50px" }),
    new Box({ width: "60%", height: "50px" }),
    new NewLine(),
    new MultiBox({ width: "50%" }, [ 
        new Box({ width: "60%", height: "110px" }),
        new Box({ width: "40%", height: "23px" })
    ]),
    new MultiBox({ width: "50%" }, [ 
        new Box({ width: "20%", height: "110px" }),
        new Box({ width: "40%", height: "23px" })
    ])
]);

var canvas = new Canvas({ width: "1024px", height: "800px" }, [multiBox]);

document.getElementById("canvas").innerHTML = canvas.render();
canvas.postRender();

</script>

</html>
